.heading {
	text-align: center;
	margin-top: 60px;
}

.login {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 300px;
	margin: auto;
}
.input {
	height: 40px;
	width: 100%;
	margin-top: 30px;
	box-sizing: border-box;
	border: none;
	border-radius: 5px;
}

#btn-submit {
	margin-top: 70px;
	width: 200px;
	height: 40px;
	background-color: green;
	border: none;
	color: white;
	border-radius: 6px;
}

@media only screen and (min-width: 992px) {
	.login {
		width: 600px;
	}
}
