.div-login {
	background-color: rgb(51, 47, 47);
	height: 100vh;
}
.heading {
	text-align: center;
	margin-top: 60px;
}

.login {
	display: flex;
	flex-direction: column;
	background-color: rgb(51, 47, 47);
	width: 300px;
    height: 200px;
	/* background-color: red; */
	margin: auto;
	position: relative;
}
.input {
	display: block;
	height: 40px;
    margin-top: 30px;
	box-sizing: border-box;
	border: none;
	border-radius: 5px;
}

#btn-submit {
	display: block;
	width: 200px;
	height: 40px;
	background-color: green;
	border: none;
	color: white;
	border-radius: 6px;
    position: absolute;
    bottom: 0px;
    right: 50%;
    margin-right: -100px;
}
