.heading-fee {
	margin-top: 10px;
	text-align: center;
	color: orangered;
}
.div-fee {
	width: 90%;
	height: 200px;
	margin: 5px auto;
	padding: 20px;
	color: white;
	box-sizing: border-box;
	margin-bottom: 50px;
	border-radius: 2px;
	font-weight: bold;
	display: flex;
	flex-direction: row;
}
.fee-p {
	margin-right: 100px;
}
/* 
@media only screen and (min-width: 992px) {
	.div-fee {
		width: 70%;
	}
} */
