.div-studentpic{
    border-radius: 60%;
    margin: 0px auto;
    width: 150px;
    height: 150px;
    margin-bottom: 50px;
}
.img-studentpic{
    width: 150px;
    width: 150px;
    border-radius: 60%;
}